.grid {
  display: grid;
  grid-template-areas:
    "no-dates save-cancel"
    "recipient sender"
    "info info"
    "add-item add-item";
  grid-template-columns: 1fr 1fr;
  column-gap: 0px;
  row-gap: 0px;
}

.noDates {
  display: grid;
  background: pink;
  grid-area: no-dates;
}

.grid__input-no {
  width: 100%;
}

.saveCancel {
  background: rgb(255, 116, 139);
  grid-area: save-cancel;
}

.recipient {
  background: rgb(198, 245, 229);
  grid-area: recipient;
}

.sender {
  background: rgb(143, 249, 214);
  grid-area: sender;
}

.info {
  background: rgb(204, 209, 52);
  grid-area: info;
}

.addItem {
  background: rgb(144, 255, 34);
  grid-area: add-item;
}
