.grid {
  display: grid;
  grid-template-areas:
    "no-dates save-cancel"
    "recipient sender"
    "info info"
    "add-item add-item";
  grid-template-columns: 1fr 1fr;
  column-gap: 0px;
  gap: 10px;
}

.noDates {
  display: grid;
  background: pink;
  grid-area: no-dates;
}

.wrapperNoDates {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "no no"
    "from to";
}

.no {
  background-color: rgb(187, 163, 3);
  grid-area: no;
  width: 100%;
}

.from {
  background-color: blueviolet;
  grid-area: from;
}

.to {
  background-color: aqua;
  grid-area: to;
}

.saveCancel {
  background: rgb(255, 116, 139);
  grid-area: save-cancel;
}

.recipient {
  background: rgb(198, 245, 229);
  grid-area: recipient;
}

.sender {
  background: rgb(143, 249, 214);
  grid-area: sender;
}

.info {
  background: rgb(204, 209, 52);
  grid-area: info;
}

.addItem {
  background: rgb(144, 255, 34);
  grid-area: add-item;
}
