.grid {
  display: grid;
  grid-template-areas:
    "no-dates save-cancel"
    "recipient sender"
    "info info"
    "add-item add-item";
  grid-template-columns: 1fr 1fr;
  column-gap: 0px;
  gap: 10px;
}

.noDates {
  display: grid;
  background: #eeeeee;
  grid-area: no-dates;
  font-size: 10px;
  padding: 20px;
}

.wrapperNoDates {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "no no"
    "from to";
}

.inputLong {
  width: 100%;
}

.no {
  grid-area: no;
  padding: 10px;
}

.from {
  grid-area: from;
  padding: 10px;
}

.to {
  grid-area: to;
  padding: 10px;
}

.saveCancel {
  background: rgb(255, 116, 139);
  grid-area: save-cancel;
}

.recipient {
  background: rgb(198, 245, 229);
  grid-area: recipient;
}

.sender {
  background: rgb(143, 249, 214);
  grid-area: sender;
}

.info {
  background: rgb(204, 209, 52);
  grid-area: info;
}

.addItem {
  background: rgb(144, 255, 34);
  grid-area: add-item;
}
