.MobileNavigation {
  display: none;
}

.NavBar {
  max-height: 80px;
  width: 100%;
  background: #3f52b5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.NavBar nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

.NavBar nav ul li a {
  color: white;
  display: inline-block;
  padding: 2px 10px;
  text-decoration: none;
}

.NavBar nav ul li a:hover {
  border-bottom: 2px solid;
}

@media (max-width: 990px) {
  .NavBar .Navigation {
    display: none;
  }

  .NavBar .MobileNavigation {
    display: flex;
    align-items: center;
  }

  .NavBar .MobileNavigation .Hamburger {
    right: 5%;
    cursor: pointer;
    padding: 15px;
  }

  .NavBar nav ul {
    display: flex;
    flex-direction: column;
    top: 80px;
    left: 0px;
    width: 100%;
    height: fit-content;
  }
}
