.buttons {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 4px;
  background: #d3d3d3;
}

.buttons--start {
  background: #449c6b;
}

.buttons--stop {
  background: #fb7f7f;
}